@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

* {
  font-family: inherit;
  box-sizing: inherit;
}

.absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
}
#overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

#loadingScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-color: #002660;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 998;
  pointer-events: auto;
}

#loadingImg {
  /*height: 100%;*/
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999;
}

#gyroSettings {
  z-index: 1050;
  background-size: contain;
  background-color: #002660;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../graphics/GyroSettings.jpg');
}

#promptImage {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  top: 1vh;
  z-index: 999; 
}

#fearsearch {
  /*display:none;*/
  opacity: 0;
  position: absolute;
  width: 90%;
  min-height: 30vh;
  border-radius: 25px;
  background-color: black;
  background: url('../graphics/snake_skin_back_comp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  text-align: center;
  margin: 5%;
  top: 1vh;
  z-index: 999; 
}

#fearsearch h2{
  color: white;
  text-shadow: 0.2rem 0.2rem 0.3rem black;
  font-weight: bold;
  font-family: "Open Sans", Arial, sans-serif;
  text-rendering: optimizeLegibility;

  font-size: 1.8rem;
}

#fearsearch input{
  font-size: 1.2rem;
  width: 50%;
  font-family: "Open Sans", Arial, sans-serif;
  padding: 3px;
}

#fearsearch #submitsearch{
  width: 30%;
  font-size: 1.3rem;
  font-family: "Open Sans", Arial, sans-serif;
  border-radius: 5px;
  display: inline-block;
}

#fearsearch #selectdogs, #fearsearch #selectbees{
  font-size: 1.3rem;
  font-family: "Open Sans", Arial, sans-serif;
  border-radius: 5px;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 33.3%;
  margin-left: 33.3%;
  padding: 2%;
}

.gfxButton {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  bottom: 3vh;
  pointer-events: auto;
  z-index: 999;
}

#dialogue {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  bottom: 8vh;
  pointer-events: auto;

  color: white;
  text-shadow: 0.2rem 0.2rem 0.3rem black;
  font-weight: bold;
  font-family: "Open Sans", Arial, sans-serif;
  text-rendering: optimizeLegibility;

  font-size: 1.8rem;
  z-index: 999;
}

#scoredisplay {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  bottom: 4vh;
  pointer-events: auto;

  color: white;
  text-shadow: 0.2rem 0.2rem 0.3rem black;
  font-weight: bold;
  font-family: "Open Sans", Arial, sans-serif;
  text-rendering: optimizeLegibility;

  font-size: 1.8rem;
  z-index: 999;
}



  /* loading progress bar styles */
  #bar-wrapper {
      display:none;
  position: relative;
}

#bar-wrapper p {
  cursor: default;
  position: relative;
  /* top: calc(50% - 64px); */
  width: 100%;
  text-align: center;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: #eee;
}

#bar-wrapper .container {
/*  position: absolute; */
  /*left: calc(50vw - 4px - 290px / 2);*/
  margin-left: 4%;
  top: calc(50vh - 4px - 10px / 2);
  border-radius: 14px;
  border: 4px solid #eee;
  height: 10px;
  width: 89%;
  background-color: #3a3a3a;
  margin-bottom: 20px;
}
#bar-wrapper .container .bar {
  background-color: #eee;
  margin: 3px 0 0 3px;
  height: 4px;
  width: 4px;
  border-radius: 4px;
}

@-webkit-keyframes load {
  0% {
    width: 4px;
  }
  100% {
    width: 284px;
  }
}